<div class="container">
  <div class="left-side-panel">
    <div class="header">
      <mat-toolbar color="primary">
        <app-avatar [avatarUrl]="personalData.avatar"></app-avatar>
        <div class="name">{{personalData.name}}</div>
        <div class="actions">
          <button mat-icon-button class="example-icon" matTooltip="New conversation" aria-label="Example icon-button with share icon">
            <mat-icon>add_comment</mat-icon>
          </button>
        </div>
      </mat-toolbar>
    </div>
    <app-chat-list [conversations]="conversations" (conversationSelected)="onConversationSelected($event)"></app-chat-list>
  </div>

  <app-chat [messages]="messages" [loggedInUserId]="personalData.id" (send)="onMessageSend($event)"></app-chat>
</div>
