<div class="container">

  <div class="header">
    <mat-toolbar color="primary">
      <app-avatar></app-avatar>
      <div class="name">John Doe</div>
      <div class="actions">
        <button mat-icon-button class="example-icon" matTooltip="New conversation" aria-label="Example icon-button with share icon">
          <mat-icon>add_comment</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </div>

  <mat-selection-list #chats [multiple]="false">
    <ng-container *ngFor="let shoe of typesOfShoes">
      <mat-list-option  [value]="shoe">
        <div class="chat-info-container">
          <app-avatar></app-avatar>
          <div class="chat-info">
            <span class="name">user name</span>
            <span class="last-message">last message</span>
          </div>
          <div class="time">
            2:45pm
          </div>
        </div>
      </mat-list-option>
      <mat-divider></mat-divider>
    </ng-container>

  </mat-selection-list>

</div>
