:host {
  display: block;
  height: 100%;
  width: 100%;

  .container {
    height: 100%;
    width: 100%;

    app-avatar {
      height: 40px;
      width: 40px;
    }

    mat-selection-list {
      padding-top: 0;

      mat-list-option {
        height: auto;
      }

      .chat-info-container {
        display: flex;
        align-items: center;
        padding: 10px 0;

        app-avatar {
          margin-right: 10px;
        }

        .chat-info {
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;

          .name {
            font-weight: bold;
          }

          .last-message {
            font-size: 14px;
          }
        }

        .time {
        }
      }
    }
  }
}
