<div class="container">
  <div class="header">
    <mat-toolbar color="primary">
      <app-avatar></app-avatar>
      <div class="name">John Doe</div>
      <div class="actions">
<!--        <button mat-icon-button class="example-icon" matTooltip="New conversation" aria-label="Example icon-button with share icon">-->
<!--          <mat-icon>add_comment</mat-icon>-->
<!--        </button>-->
      </div>
    </mat-toolbar>
  </div>
  <div class="messages">

  </div>
  <div class="compose-message">
    <input matInput>
  </div>
</div>
